In [2]:
#Loading our trained model
import pickle
with open('trained_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

In [4]:
# Loading our preprocessed data
import pandas as  pd
data = pd.read_csv(r"C:\Users\Faizaan Ali Baig\its me\IABAC\INX_Project\data\Processed\pre_processed_data.csv")

In [5]:
data.head()

,Unnamed: 0,Age,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating,Female,Male
0,0,32,3,2,6,18,2,10,3,4,...,2,2,10,7,0,8,1,3,0,1
1,1,47,3,2,6,18,2,14,4,4,...,2,3,7,7,1,7,1,3,0,1
2,2,40,5,3,6,18,1,5,4,4,...,2,3,18,13,1,12,1,4,0,1
3,3,41,0,1,3,11,2,10,4,2,...,2,2,21,6,12,6,1,3,0,1
4,4,60,3,2,6,18,2,16,4,1,...,1,3,2,2,2,2,1,3,0,1

In [6]:
# splitting the dataset into independent and dependent feature
x = data.drop(['PerformanceRating'],axis=1)
y = data['PerformanceRating']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=43)

In [9]:
y_pred = loaded_model.predict(x_test) # predicting using our old pretrained model for test data
y_pred1 = loaded_model.predict(x_train) # predicting using our old pretrained model for train data

In [14]:
from sklearn.metrics import classification_report,accuracy_score
# Testing accuracy
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           2       0.91      1.00      0.95        58
           3       1.00      0.97      0.98       260
           4       0.93      0.98      0.95        42

    accuracy                           0.97       360
   macro avg       0.94      0.98      0.96       360
weighted avg       0.97      0.97      0.97       360

In [13]:
# Training accuracy
print(classification_report(y_train,y_pred1))

              precision    recall  f1-score   support

           2       0.94      0.99      0.96       136
           3       1.00      0.99      0.99       614
           4       0.99      0.99      0.99        90

    accuracy                           0.99       840
   macro avg       0.98      0.99      0.98       840
weighted avg       0.99      0.99      0.99       840

In [16]:
Accuracy = accuracy_score(y_test,y_pred)
print('Accuracy of this model is:',Accuracy*100)

Accuracy of this model is: 97.22222222222221

**"The trained model, saved as 'trained_model.pkl', appears to be more flexible and accurate, meaning it can make predictions on new data more effectively**